body{
    background-color: #DDDDDD;
}

.header {
    height: 10px;
    width: 90%;
    margin: 0 auto;
    background-color: #FF4136;
    margin-bottom: 2px;
}

.profile-icon{
    height: 100px;
}

.profile-icon img:hover {
	transform: scale(1.1);
    transition: all .25s;
}

.headline{
    height: 100%;
    vertical-align: baseline;
}

.profile-icon img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    object-fit: contain;
}
.social-icons .fa{
    color: #FF4136;
}

.separator {
    height: 2px;
    width: 90%;
    margin: 0 auto;
    background-color: #FF4136;
    margin-bottom: 2px;
    margin-top: 2px;
}

@media ( min-width :768px) {
    .header {
        height: 20px;
        width: 80%;
        margin: 0 auto;
        background-color: #FF4136;
        margin-bottom: 5px;
    }

    .profile-icon{
        height: 200px;
    }

    .profile-icon img {

        float: right;
    }

    .separator {
            height: 5px;
            width: 80%;
            margin: 0 auto;
            background-color: #FF4136;
            margin-bottom: 2px;
            margin-top: 2px;
        }
}
